<h1>All Beers</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Style</th>
  </tr>
  <% beers.forEach(function(beer) { %>
    <tr>
      <td><%= beer.name %></td>
      <td><%= beer.style %></td>
    <td>
      <a href="beers/<%= beer.id %>">See Beer</a>
    </td>
    </tr>
  <% }) %>
</table>
<hr>
<a href="beers/new">Add Beer</a> |
<a href="/bars">See Bars</a>
