<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Beer</title>
</head>
<body>
<h1>Make New Beer</h1>
<form action="/beers" method="post">
    <label>Name:
      <input type="text" name="name">
    </label><br>
    <label>Style:
      <input type="text" name="style">
    </label><br>
    <input type="submit" value="Add Beer">
  </form>
  <a href="/beers">Go back</a>
</body>
</html>
