<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Bar</title>
</head>
<body>
<h1>Make New Bar</h1>
<form action="/bars" method="post">
    <label>Name:
      <input type="text" name="name">
    </label><br>
    <label>Location:
      <input type="text" name="location">
    </label><br>
    <input type="submit" value="Add Bar">
  </form>
  <a href="/bars">Go back</a>
</body>
</html>


